
* {
	font-family: 'Georgia', arial;
	box-sizing: border-box;
}



body {
	padding: 0;
  	margin: 0;
  	background:#F7F7F7;
  /*	background-image: url("https://i.ibb.co/S6B7Pdd/Sin-t-tulo.png");
  	background: "https://i.ibb.co/S6B7Pdd/Sin-t-tulo.png";
  	body-background:"https://i.ibb.co/S6B7Pdd/Sin-t-tulo.png";*/
}
/*
.cont {
	margin: 10px 10px;
}

.prueba2 a {
	color: red;
}

.cont__2 {
	padding: 10px 10px;
}
.cont {
	left:0
	top:0
	down:0
	right:0
	margin-top:50px;
	display: block;
	width:500px;
	position:absolute;
	height:450px;
	z-index:2;
	border:2px solid black;
	overflow: auto;
	background:grey;
} 


}

*/


/*Navegador*/
.probando2 {
	position: absolute;
	background: #2A2A2A;
	font-family: 'Special Elite', cursive;
	color:white;
	top: 0;
	width: 100%;
	height: 13%;
	box-sizing: border-box;
}

.probando2 div {
	font-family: 'Special Elite', cursive;
	font-size: 25px;
	text-align: center;
	padding-top: 1%;
	text-shadow: 3px 3px 3px grey;
}

.probando2 div span {
	font-family: 'Special Elite', cursive;
	font-size: 25px;
	color: #8D8658;
	padding: 0;
	text-shadow: 3px 3px 3px #9C9774;
	text-align: center;
}
/*
.probando2__1 {
	left: 15%;
	position:absolute;
	top: 0;

}
.probando2__2 {
	left: 35%;
	position:absolute;
	top: 0;
}
.probando2__3 {
	left: 55%;
	position:absolute;
	top: 0;
}
.probando2__4 {
	left: 75%;
	top: 0;
	position:absolute;
} */
/*Navegador*/

/*ARTICULO*/

article {
	display: inline-block;
	width: 85%;
	top:13%;
	position: absolute;
	
	height: 81%;
	color:black;
	font-size: 15px;
	left: 15%;
	text-align: left;
}

.divisor {
	color:black;
	text-align: left;
	position: absolute;
	background: #565656;
	color:#D5D5D5;
	width: 90%;
	border:5px double #2A2A2A;
	overflow: auto;
	text-align: center;
	font-family: 'Karla', cursive;
	font-size: 12px;
	height: 100%;
}


.Seccion_dos {
	position: absolute;
	width: 10%;
	left: 90%;
	height: 100%;
	display: inline-block;
	background: #2A2A2A;
}
.imagenloca {
	height:200px;
	width: 200px;
	margin: 10%;
	padding: 0;
	border: 2px solid black;
}
/*ARTICULO*/


.cont__2-a3 {
	color: #D5D5D5;
	text-decoration:none;
	font-size: 10px;
	
}
aside {
	display: inline-block;
	position: absolute;
	overflow: auto;
	width: 15%;
	top:13%;
	font-size: 15px;
	background: #2A2A2A;
	height: 87%;
	text-align: left;
	margin:0;
	padding: 0;
}
footer {
	
	/*border: 1px solid grey;*/
	background-color: #2A2A2A;
	color: #D5D5D5;
	position: absolute;
	display: inline-block;
	height: 6%;
	width: 85%;
	left: 15%;
	top: 94%;
	padding-bottom: 3px;
	font-size: 9px;
}

.Footer__ {
	display: inline-block;
}

.probando2__1 {
	margin-top: 3px;
	margin-left: 5px;
	position: absolute;
	left:74%;
}
.probando2__2 {
	margin-top: 3px;
	margin-left: 5px;
	position: absolute;
	left:78%;
}
.probando2__3 {
	margin-top: 3px;
	margin-left: 5px;
	position: absolute;
	left:82%;
}
.probando2__4 {
	margin-top: 3px;
	margin-left: 5px;
	position: absolute;
	left:86%;
}

.probando2__1 img {
	height: 75%;
	width: 75%;
}
.probando2__2 img {
	height: 75%;
	width: 75%;
}
.probando2__3 img {
	height: 75%;
	width: 75%;
}
.probando2__4 img {
	height: 75%;
	width: 75%;
}

.h444 {
	display: inline-block;
	position: absolute;
	left:67%;
}
/*Online*/
article section div table {
	border-collapse: collapse;
}
article section div table tr {
	border: white 2px solid;
	border-radius: 30%

}
article section div table td {
	border: white 2px solid;
	padding: 5px 10px;
	text-align: center;
	border-radius: 10%
}
article section div div ul li{
	margin: 15px 15px;
	text-align: center;
}
article section div div ul{
	color: #CBB734;
}


.titulo_elemento {
	color: #9C9566;
 	text-shadow: 3px 3px 3px grey;
}
.titulo_elemento2 {
	color: #CBB734;
	font-weight: bold
}

.cont__2-a3:hover {
	color: #8D8658;
}

